.titleTab {
  position: absolute;
  background-color:  #5FABC8;  
  width: 100%;
  height: 600px ;
  top: 50px;
}
.title {
  position:relative;
  font-family: "Spicy Rice", Courier, monospace;
  color: #092632;
  font-size: 2cm;
  padding: 100px 0;
  z-index: 3;
}
.titleBackground {
  position: absolute;
  background-color: #092632;
  width: 100%;
  height: 900px;
  top: 0px;
  text-align: center;
}
.titleButton {
  background-color: rgba(19, 126, 168, 0.527);
  border: 1px solid rgba(48, 40, 40, 0.76);
  position: absolute; 
  top: 400px;
  z-index: 2;
  height: 35px;
  width: 50px;
  display: inline-block;
  transform: translateX(-50%);
  padding-top:5px;
  border-radius: 8px;
  padding-left: 0;
  padding-right: 0;
  color: Black;
  font-size: 25px;
  font-family: "PT Sans", sans-serif;
}
.titleButton:hover{
  background-color : #152329e0;
  cursor: pointer;
}

.footerTitle {
  position: absolute;
  bottom: 200px;
  z-index: 3;
  color:white;
  font-size: 25px;
  left: 20px;
}
/* Incomplete / tbd
.leftTab {
  position:absolute;
  left: 0px;
  top: 0px;
  height: 900px;
  background-color: lightblue;
  width: 40px;
}
.leftTab:hover {
  transform: scalex(4);
  transition-duration: .5s;

}
.text {
  opacity: 0;
  color: red;
}
.leftTab:hover, .text:hover {
  opacity: 1;
}
*/
ul .navigationBar {
  list-style-type: none;
  background-color: rgb(32, 91, 105);
  
}
li a{ /*Top Navigation Bar... font-family tbd*/
  display: inline;
  display: block;
  color:aliceblue;
  background-color: rgb(24, 104, 136);
  text-align: center;
  height: 25px;
  border-radius: 4px;
  /*font-family: ..*/
}
a {
  text-decoration: none;
}
.positionOverview{
  position:absolute;
  top: 10px;
  left: 25px;
  width: 100px;
  float: left;
  font-size: 20px;
  padding-bottom: 5px;
}
.positionTopic1{
  display: inline;
  display: block;
  position: absolute;
  top: 10px;
  left: 150px;
  width: 108px;
  padding-top: 1px;
  float: left;
  font-size: 21px;
  
}
.positionTopic2{
  display:inline;
  display: block;
  position: absolute;
  top: 10px;
  left: 275px;
  width: 113px;
  float: left;
  font-size: 20px;
}
.positionTopic3 {
  display: inline;
  display: block;
  position: absolute;
  top: 10px;
  left: 400px;
  width: 100px;
  float: left;
  font-size: 20px;
}
.overviewBackground{ /*align overview page*/
  background-color:  #092632;
  width: 100%;
  height: 40px;
  color: white;
  position: relative;
  top: 0px;
}
.overviewTab{
  background-color: rgba(19, 126, 168, 0.527);
  width: 100%;
  height: 600px;
  position: relative;
  top: 0px;
}
.testImage {
  position: relative;
  top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutUsInfo {
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: white;
  text-align: center;
  line-height: 25px;
  margin-right: 40px;
}

div a{
  color: white;
}
.startingImage {
  transform: rotate(-20deg);
  opacity: .75;
  z-index: 2;
  width: 500px;
  position: absolute;
  left: 40px;
  top: 100px;
  border: 1px solid black;
}
.startingImage1 {
  transform: rotate(10deg);
  opacity: .75;
  z-index: 2;
  width: 500px;
  position: absolute;
  right: 40px;
  top: 75px;
  border: 1px solid black;
}
.PageBackground {
  background-color: #5FABC8;

}
.PageText {
  color: white;
  font-size: 23px;
  position:absolute;
  top: 125px;
  left: 20px;
  margin-right: 50%;
  line-height: 35px;
}
.PageTitle {
  display:block;
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  background-color: #092632;
  border: 1px solid black;
  width: 97%;
  border-radius: 3px;
  padding-left: 20px;
}
.PageImage {
  position: absolute;
  right: 50px;
  top: 120px;
  border: 4px solid black;
}